* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  width: 100%;
  min-height: 100vh;
  min-height: 100dvh;
  background-image: url(./img/back.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menuWrapper {
  width: 400px;
  height: 500px;
  border-radius: 60px;
  background: linear-gradient(#b07edd, #906dd1);
  border: 3px solid #c98bff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 30px 40px;
}
.menuWrapper__title {
  width: 100%;
  height: auto;
  text-align: center;
}
.menuWrapper__title p:nth-child(1) {
  color: white;
  font-size: 55px;
  font-weight: bold;
  margin-top: -10px;
}
.menuWrapper__title p:nth-child(2) {
  color: white;
  font-size: 35px;
  font-weight: bold;
}
.menuWrapper__play {
  width: 175px;
  height: 175px;
  border: 5px solid transparent;
  background: linear-gradient(#f6afcd, #ef90b8) padding-box, linear-gradient(-200deg, #ffd8eb, #ed8cb5) border-box;
  border-radius: 50%;
}
.menuWrapper__play:hover {
  transform: scale(1.02);
  transition: all 0.01s;
}
.menuWrapper__play:active {
  transform: scale(0.98);
  transition: all 0.01s;
}
.menuWrapper__play {
  cursor: pointer;
  outline: none;
  color: white;
  font-size: 40px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menuWrapper__play img {
  width: 80px;
  height: 80px;
  margin-left: 10px;
}
.menuWrapper__rules {
  background-color: #88b1ef;
  height: 60px;
  width: 100%;
  color: white;
  font-size: 25px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 30px;
  transition: all 0.01s;
  border: 3px solid transparent;
  background: linear-gradient(#a7c7f9, #88b1ef) padding-box, linear-gradient(90deg, #ddb7fe, #906dd1) border-box;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.263);
  outline: none;
}
.menuWrapper__rules:hover {
  transform: scale(1.02);
  transition: all 0.01s;
}
.menuWrapper__rules:active {
  transform: scale(0.98);
  transition: all 0.01s;
}

.rulesWrapper {
  width: 600px;
  height: auto;
  border-radius: 60px;
  background: linear-gradient(#b07edd, #906dd1);
  border: 3px solid #c98bff;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 30px 40px;
}
.rulesWrapper h1 {
  color: white;
  width: 100%;
  text-align: center;
  font-size: 70px;
  letter-spacing: 10px;
  margin-top: -20px;
}
.rulesWrapper > div:not(.rulesWrapper__close) {
  display: flex;
  align-items: start;
  justify-content: start;
  gap: 10px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.263);
  margin-bottom: 10px;
}
.rulesWrapper__close {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.rulesWrapper__close button {
  width: 70px;
  height: 70px;
  background-color: #f29bbd;
}
.rulesWrapper__close button:hover {
  transform: scale(1.02);
  transition: all 0.01s;
}
.rulesWrapper__close button:active {
  transform: scale(0.98);
  transition: all 0.01s;
}
.rulesWrapper__close button {
  cursor: pointer;
  border-radius: 50%;
  border: none;
  outline: none;
  box-shadow: inset 0 3px 5px rgba(255, 255, 255, 0.7), 0px 5px 10px rgba(0, 0, 0, 0.427);
}
.rulesWrapper__close img {
  width: 35px;
  height: 35px;
  margin-top: 5px;
}

.listTopicWrapper {
  width: 400px;
  height: auto;
  border-radius: 60px;
  background: linear-gradient(#b07edd, #906dd1);
  border: 3px solid #c98bff;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 10px 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.listTopicWrapper h1 {
  color: white;
  margin-bottom: 50px;
}
.listTopicWrapper__firstItem {
  background-color: red;
  border: none;
  outline: none;
  margin-bottom: 20px;
  width: 90%;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}
.listTopicWrapper__firstItem:hover {
  transform: scale(1.02);
  transition: all 0.01s;
}
.listTopicWrapper__firstItem:active {
  transform: scale(0.98);
  transition: all 0.01s;
}
.listTopicWrapper__firstItem {
  background: linear-gradient(#f7a8d5, #e591cf);
  box-shadow: inset 0px 3px 5px white, 0px 5px 7px rgba(0, 0, 0, 0.459);
  color: white;
  font-size: 25px;
  font-weight: bold;
}
.listTopicWrapper__secondItem {
  background-color: yellow;
  border: none;
  outline: none;
  margin-bottom: 20px;
  width: 90%;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}
.listTopicWrapper__secondItem:hover {
  transform: scale(1.02);
  transition: all 0.01s;
}
.listTopicWrapper__secondItem:active {
  transform: scale(0.98);
  transition: all 0.01s;
}
.listTopicWrapper__secondItem {
  background: linear-gradient(#bc85ea, #a176e2);
  box-shadow: inset 0px 3px 5px white, 0px 5px 7px rgba(0, 0, 0, 0.459);
  color: white;
  font-size: 25px;
  font-weight: bold;
}
.listTopicWrapper__back {
  width: 70px;
  height: 70px;
  background-color: #f29bbd;
  border-radius: 50%;
  outline: none;
  border: none;
}
.listTopicWrapper__back:hover {
  transform: scale(1.02);
  transition: all 0.01s;
}
.listTopicWrapper__back:active {
  transform: scale(0.98);
  transition: all 0.01s;
}
.listTopicWrapper__back {
  cursor: pointer;
  margin-bottom: 10px;
  box-shadow: inset 0 3px 5px rgba(255, 255, 255, 0.7), 0px 5px 10px rgba(0, 0, 0, 0.427);
}
.listTopicWrapper__back img {
  width: 60px;
  height: 60px;
}

.gameFieldWrapper {
  width: 95%;
  height: auto;
  border: 3px solid #c98bff;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.gameFieldWrapper__navBar {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.gameFieldWrapper__navBar_nav {
  width: 250px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.gameFieldWrapper__navBar_nav button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  outline: none;
  border: none;
  background-color: #a175d7;
  box-shadow: inset 0px 1px 3px white, 0px 5px 10px rgba(0, 0, 0, 0.371);
  cursor: pointer;
}
.gameFieldWrapper__navBar_nav button:hover {
  transform: scale(1.02);
  transition: all 0.01s;
}
.gameFieldWrapper__navBar_nav button:active {
  transform: scale(0.98);
  transition: all 0.01s;
}
.gameFieldWrapper__navBar_nav button {
  display: flex;
  align-items: center;
  justify-content: center;
}
.gameFieldWrapper__navBar_nav button img {
  width: 40px;
  height: 40px;
}
.gameFieldWrapper__navBar_nav p {
  color: white;
  font-size: 40px;
  font-weight: bold;
}
.gameFieldWrapper__navBar_health {
  width: 280px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.gameFieldWrapper__navBar_health_healthBar {
  width: 200px;
  height: 40px;
  background-color: #b191e4;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: start;
}
.gameFieldWrapper__navBar_health_healthBar_fiveLife {
  width: 100%;
  height: 40px;
  background-color: #d6a1d7;
  border-radius: 20px;
  box-shadow: inset 0px 1px 5px white, 0px 1px 5px black;
}
.gameFieldWrapper__navBar_health_healthBar_fourLife {
  width: 80%;
  height: 40px;
  background-color: #d6a1d7;
  border-radius: 20px;
  box-shadow: inset 0px 1px 5px white, 0px 1px 5px black;
}
.gameFieldWrapper__navBar_health_healthBar_threeLife {
  width: 60%;
  height: 40px;
  background-color: #d6a1d7;
  border-radius: 20px;
  box-shadow: inset 0px 1px 5px white, 0px 1px 5px black;
}
.gameFieldWrapper__navBar_health_healthBar_twoLife {
  width: 40%;
  height: 40px;
  background-color: #d6a1d7;
  border-radius: 20px;
  box-shadow: inset 0px 1px 5px white, 0px 1px 5px black;
}
.gameFieldWrapper__navBar_health_healthBar_oneLife {
  width: 20%;
  height: 40px;
  background-color: #d6a1d7;
  border-radius: 20px;
  box-shadow: inset 0px 1px 5px white, 0px 1px 5px black;
}
.gameFieldWrapper__navBar_health img {
  width: 50px;
  height: 50px;
  width: 50px;
  filter: drop-shadow(0 -1px 2px white);
}
.gameFieldWrapper__firstStringLetter {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.gameFieldWrapper__firstStringLetter_first {
  width: 80%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.gameFieldWrapper__firstStringLetter_first button {
  width: 60px;
  height: 50px;
  color: white;
  cursor: pointer;
}
.gameFieldWrapper__firstStringLetter_first button:hover {
  transform: scale(1.02);
  transition: all 0.01s;
}
.gameFieldWrapper__firstStringLetter_first button:active {
  transform: scale(0.98);
  transition: all 0.01s;
}
.gameFieldWrapper__firstStringLetter_first button {
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: #88b1ef;
  font-size: 20px;
  font-weight: bold;
}
.gameFieldWrapper__firstStringLetter_second {
  width: 70%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.gameFieldWrapper__firstStringLetter_second button {
  width: 60px;
  height: 50px;
}
.gameFieldWrapper__firstStringLetter_third {
  width: 80%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.gameFieldWrapper__firstStringLetter_third button {
  width: 60px;
  height: 50px;
}
.gameFieldWrapper__menu {
  position: absolute;
  width: 300px;
  height: 400px;
  background-color: #a174d9;
  border-radius: 20px;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.gameFieldWrapper__menu h1 {
  font-size: 40px;
  color: white;
  margin-bottom: 40px;
}
.gameFieldWrapper__menu_even, .gameFieldWrapper__menu_odd {
  border: none;
  outline: none;
  margin-bottom: 40px;
  cursor: pointer;
  width: 90%;
}
.gameFieldWrapper__menu_even:hover, .gameFieldWrapper__menu_odd:hover {
  transform: scale(1.02);
  transition: all 0.01s;
}
.gameFieldWrapper__menu_even:active, .gameFieldWrapper__menu_odd:active {
  transform: scale(0.98);
  transition: all 0.01s;
}
.gameFieldWrapper__menu_even, .gameFieldWrapper__menu_odd {
  border-radius: 10px;
  height: 50px;
  color: white;
  font-size: 20px;
  font-weight: bold;
  background-color: #ec99cf;
  box-shadow: inset 0px 1px 5px white, 0px 5px 10px rgba(0, 0, 0, 0.267);
}
.gameFieldWrapper__menu_odd {
  background-color: #a378e4;
}

@media (max-width: 768px) {
  .rulesWrapper,
  .listTopicWrapper {
    width: 95%;
    margin: 50px 0;
  }
}
@media (max-width: 425px) {
  .menuWrapper {
    width: 95%;
    padding: 30px 10px;
  }
  .menuWrapper__title p:nth-child(1) {
    font-size: 45px;
  }
  .menuWrapper__title p:nth-child(2) {
    font-size: 30px;
  }
  .rulesWrapper h1 {
    font-size: 50px;
  }
  .rulesWrapper > div:not(.rulesWrapper__close) {
    font-size: 18px;
  }
  .listTopicWrapper h1 {
    font-size: 25px;
    margin-bottom: 30px;
  }
  .listTopicWrapper__firstItem, .listTopicWrapper__secondItem {
    font-size: 18px;
  }
}
@media (max-width: 375px) {
  .rulesWrapper h1 {
    font-size: 40px;
  }
  .rulesWrapper > div:not(.rulesWrapper__close) {
    font-size: 18px;
  }
}/*# sourceMappingURL=App.css.map */