* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  width: 100%;
  height: 100vh;
  background-image: url(./img/back.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menuWrapper {
  width: 400px;
  height: 500px;
  border-radius: 60px;
  background: linear-gradient(#b07edd, #906dd1);
  border: 3px solid #c98bff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 30px 40px;
}
.menuWrapper__title {
  width: 100%;
  height: auto;
  text-align: center;
}
.menuWrapper__title p:nth-child(1) {
  color: white;
  font-size: 55px;
  font-weight: bold;
  margin-top: -10px;
}
.menuWrapper__title p:nth-child(2) {
  color: white;
  font-size: 35px;
  font-weight: bold;
}
.menuWrapper__play {
  width: 175px;
  height: 175px;
  border: 5px solid transparent;
  background: linear-gradient(#f6afcd, #ef90b8) padding-box, linear-gradient(-200deg, #ffd8eb, #ed8cb5) border-box;
  border-radius: 50%;
}
.menuWrapper__play:hover {
  transform: scale(1.02);
  transition: all 0.01s;
}
.menuWrapper__play:active {
  transform: scale(0.98);
  transition: all 0.01s;
}
.menuWrapper__play {
  cursor: pointer;
  outline: none;
  color: white;
  font-size: 40px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menuWrapper__play img {
  width: 80px;
  height: 80px;
  margin-left: 10px;
}
.menuWrapper__rules {
  background-color: #88b1ef;
  height: 60px;
  width: 100%;
  color: white;
  font-size: 25px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 30px;
  transition: all 0.01s;
  border: 3px solid transparent;
  background: linear-gradient(#a7c7f9, #88b1ef) padding-box, linear-gradient(90deg, #ddb7fe, #906dd1) border-box;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.263);
  outline: none;
}
.menuWrapper__rules:hover {
  transform: scale(1.02);
  transition: all 0.01s;
}
.menuWrapper__rules:active {
  transform: scale(0.98);
  transition: all 0.01s;
}

.rulesWrapper {
  width: 600px;
  height: auto;
  border-radius: 60px;
  background: linear-gradient(#b07edd, #906dd1);
  border: 3px solid #c98bff;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 30px 40px;
}
.rulesWrapper h1 {
  color: white;
  width: 100%;
  text-align: center;
  font-size: 70px;
  letter-spacing: 10px;
  margin-top: -20px;
}
.rulesWrapper > div:not(.rulesWrapper__close) {
  display: flex;
  align-items: start;
  justify-content: start;
  gap: 10px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.263);
  margin-bottom: 10px;
}
.rulesWrapper__close {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.rulesWrapper__close button {
  width: 70px;
  height: 70px;
  background-color: #f29bbd;
}
.rulesWrapper__close button:hover {
  transform: scale(1.02);
  transition: all 0.01s;
}
.rulesWrapper__close button:active {
  transform: scale(0.98);
  transition: all 0.01s;
}
.rulesWrapper__close button {
  cursor: pointer;
  border-radius: 50%;
  border: none;
  outline: none;
  box-shadow: inset 0 3px 5px rgba(255, 255, 255, 0.7), 0px 5px 10px rgba(0, 0, 0, 0.427);
}
.rulesWrapper__close img {
  width: 35px;
  height: 35px;
  margin-top: 5px;
}/*# sourceMappingURL=App.css.map */