*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@mixin animButton{
  &:hover{
    transform: scale(1.02);
    transition: all 0.01s;
  }
  &:active{
    transform: scale(0.98);
    transition: all 0.01s;
  }
}

.wrapper{
  width: 100%;
  min-height: 100vh;
  min-height: 100dvh;
  background-image: url(./img/back.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menuWrapper{
  width: 400px;
  height: 500px;
  border-radius: 60px;
  background: linear-gradient(#b07edd, #906dd1);
  border: 3px solid #c98bff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 30px 40px;
  &__title{
    width: 100%;
    height: auto;
    text-align: center;
    p:nth-child(1){
      color: white;
      font-size: 55px;
      font-weight: bold;
      margin-top: -10px;
    }
    p:nth-child(2){
      color: white;
      font-size: 35px;
      font-weight: bold;
    }
  }
  &__play{
    width: 175px;
    height: 175px;
    border: 5px solid transparent;
    background:
      linear-gradient(#f6afcd, #ef90b8) padding-box,
      linear-gradient(-200deg, #ffd8eb, #ed8cb5) border-box;
    border-radius: 50%;
    @include animButton;
    cursor: pointer;
    outline: none;
    color: white;
    font-size: 40px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    img{
      width: 80px;
      height: 80px;
      margin-left: 10px;
    }
  }
  &__rules{
    background-color: #88b1ef;
    height: 60px;
    width: 100%;
    color: white;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 30px;
    transition: all 0.01s;
    border: 3px solid transparent;
    background:
      linear-gradient(#a7c7f9, #88b1ef) padding-box,
      linear-gradient(90deg, #ddb7fe, #906dd1) border-box;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.263);
    outline: none;
    @include animButton;
  }
}

.rulesWrapper{
  width: 600px;
  height: auto;
  border-radius: 60px;
  background: linear-gradient(#b07edd, #906dd1);
  border: 3px solid #c98bff;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 30px 40px;
  h1{
    color: white;
    width: 100%;
    text-align: center;
    font-size: 70px;
    letter-spacing: 10px;
    margin-top: -20px;
  }
  & > div:not(.rulesWrapper__close){
    display: flex;
    align-items: start;
    justify-content: start;
    gap: 10px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.263);
    margin-bottom: 10px;
  }
  &__close{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    button{
      width: 70px;
      height: 70px;
      background-color: #f29bbd;
      @include animButton;
      cursor: pointer;
      border-radius: 50%;
      border: none;
      outline: none;
      box-shadow:
        inset 0 3px 5px rgba(255, 255, 255, 0.7),
        0px 5px 10px rgba(0, 0, 0, 0.427);
      }
      img{
        width: 35px;
        height: 35px;
        margin-top: 5px;
      }
  }
}

.listTopicWrapper{
  width: 400px;
  height: auto;
  border-radius: 60px;
  background: linear-gradient(#b07edd, #906dd1);
  border: 3px solid #c98bff;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 10px 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  h1{
    color: white;
    margin-bottom: 50px;
  }
  &__firstItem{
    background-color: red;
    border: none;
    outline: none;
    margin-bottom: 20px;
    width: 90%;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    @include animButton;
    background: linear-gradient(#f7a8d5, #e591cf);
    box-shadow: inset 0px 3px 5px white,
                      0px 5px 7px rgba(0, 0, 0, 0.459);
    color: white;
    font-size: 25px;
    font-weight: bold;
  }
  &__secondItem{
    background-color: yellow;
    border: none;
    outline: none;
    margin-bottom: 20px;
    width: 90%;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    @include animButton;
    background: linear-gradient(#bc85ea, #a176e2);
    box-shadow: inset 0px 3px 5px white,
                      0px 5px 7px rgba(0, 0, 0, 0.459);
    color: white;
    font-size: 25px;
    font-weight: bold;
  }
  &__back{
    width: 70px;
    height: 70px;
    background-color: #f29bbd;
    border-radius: 50%;
    outline: none;
    border: none;
    @include animButton;
    cursor: pointer;
    margin-bottom: 10px;
    box-shadow:
        inset 0 3px 5px rgba(255, 255, 255, 0.7),
        0px 5px 10px rgba(0, 0, 0, 0.427);
    img{
      width: 60px;
      height: 60px;
    }
  }  
}

@media(max-width: 768px){
  .rulesWrapper,
  .listTopicWrapper{
    width: 95%;
    margin: 50px 0;
  }
}

@media(max-width: 425px){
  .menuWrapper{
    width: 95%;
    padding: 30px 10px;
    &__title{
      p:nth-child(1){
        font-size: 45px;
      }
      p:nth-child(2){
        font-size: 30px;
      }
    }
  }
  .rulesWrapper{
    h1{
      font-size: 50px;
    }
    &>div:not(.rulesWrapper__close){
      font-size: 18px;
    }
  }
  .listTopicWrapper{
    h1{
      font-size: 25px;
      margin-bottom: 30px;
    }
    &__firstItem,
    &__secondItem{
      font-size: 18px;
    }
  }
}
@media(max-width: 375px){
  .rulesWrapper{
    h1{
      font-size: 40px;
    }
    &>div:not(.rulesWrapper__close){
      font-size: 18px;
    }
  }
}